.card h3 {
    text-align: center;
}

.card p {
    text-align: justify;
}

.card-img-overlay {
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    transition: 0.3s ease;
}

.card:hover .card-img-overlay {
    visibility: visible;
    opacity: 1;
}

.img-gallery {
    height: 15em;
    transition: 0.3s ease;
}

.card:hover .img-gallery {
    filter: brightness(0.3);
}

.card a.card-text {
    height: 1.5em;
    aspect-ratio: 1/1;
    border-radius: 99em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.card a.card-text:hover {
    background-color: transparent;
}

.card a.card-text svg {
    transition: 0.3s ease;
}

.card a.card-text:hover svg {
    transform: scale(1.25);
}

.card a.card-read-more {
    transition: 0.3s ease;
}
