#footer {
    position: relative;
}

#footer a {
    transition: 0.3s ease;
}

#footer a.card-text {
    height: 1.5em;
    aspect-ratio: 1/1;
    border-radius: 99em;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a.card-text svg {
    transition: 0.3s ease;
}

#footer a.card-text:hover svg {
    transform: scale(1.25);
}
